<!DOCTYPE html> 
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>BMS</title>
</head>
<body>
    <header>
        <div class=title/logo> BMS Rank-Rate Viewer(Beta)</div>
    </header>

    <div class="middle">
            <div class="curvedEnclosure" align="center">
               申し訳ありません。LR2ID: {{ LR2ID }}は存在しない、 <br>
               もしくはstairwayに登録されていません。

               <a href="/">ホームへ戻る</a>
            </div>
    </div>
    <footer></footer>
</body> 